crash-reports/*
saves/*
downloads/*
logs/*
cache/*
.cache/*
xaero/*
export-packs/*
.mixin.out/*
.sable/*
schematics/*
generated/*

options.txt
usercache.json
usernamecache.json
XaeroWaypoints_*/*
emi.json
ponders_watched.json